common-api-bigcommerce-carts-v3/src/main/kotlin/dev/petedoyle/speedy/common/api/bigcommerce/carts/v3/model/*.kt linguist-generated=true
common-api-bigcommerce-catalog-v3/src/main/kotlin/dev/petedoyle/speedy/common/api/bigcommerce/catalog/v3/model/*.kt linguist-generated=true
